<h1>SHOW THE GAME YOU JUST SUBMITTED PAGE</h1>

<div class="container">        
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @game.titles %></td>
        <td><%= @game.platform %></td>
      </tr>
    </tbody>
  </table>
</div>

<form action="/games/<%= @game.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type='submit' value='Delete'>
    </form>


<!-- <form action="/games/<%= @game.id %>" method='post'>

  <input id='hidden' type='hidden' name='_method' value='patch'>

   Title:<br>
  <input type="text" name="titles"  value='<%= @game.titles %>'><br>
   Platform:<br>
  <input type="text" name="platform" value='<%= @game.platform %>'><br>
    
  <br></br>


  <input type='submit' id='submit' value='Submit Changes'>
</form>





  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Title">

</form> -->

